/*~~~~~~~~~~~~ 
feauter styles
 ~~~~~~~~~~~*/

.feauters__list {
    list-style-type: none;
    display: flex;
}

.features__item {
    width: 270px;

&:not(:last-child) {
    margin-right: 30px;
    }
}

.feauters__description {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feauters__text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.feauters__icon {
    width: 270px;
    height: 120px;
    background-color: var(--third-background-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}